In [3]:
import pandas as pd 
import numpy as np

In [5]:
food_inspection = pd.read_csv("Food_Inspection.csv") 
food_inspection.head()

   Establishment ID  ...             Location
0             26656  ...   (39.1657, -77.226)
1             33103  ...  (39.0819, -77.0777)
2              1392  ...  (39.1644, -77.2292)
3             33477  ...  (39.1275, -77.2089)
4             24239  ...  (39.0956, -77.2071)

[5 rows x 31 columns]

In [6]:
food_inspection.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12829 entries, 0 to 12828
Data columns (total 31 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Establishment ID                         12829 non-null  int64
 1   Name                                     12829 non-null  object
 2   Address 1                                12829 non-null  object
 3   Address 2                                969 non-null    object
 4   City                                     12829 non-null  object
 5   Zip                                      12829 non-null  int64
 6   Inspection Date                          12829 non-null  object
 7   Inspection Results                       12829 non-null  object
 8   Food from Approved Source (C)            12829 non-null  object
 9   Food Protected from Contamination (C)    12829 non-null  object
 10  Ill Workers Restricted (C)               12829 non-null  object
 11  Proper Hand Washing (C)                  12829 non-null  object
 12  Cooling Time and Temperature (C)         12829 non-null  object
 13  Cold Holding Temperature (C)             12829 non-null  object
 14  Hot Holding Temperature (C)              12829 non-null  object
 15  Cooking Time and Temperature (C)         12829 non-null  object
 16  Reheating Time and Temperature (C)       12829 non-null  object
 17  Hot and Cold Running Water Provided (C)  12829 non-null  object
 18  Proper Sewage Disposal (C)               12829 non-null  object
 19  Toxic Substances & Pesticides            12829 non-null  object
 20  Rodent and Insects                       12829 non-null  object
 21  Nutritional Labeling                     12829 non-null  object
 22  Trans Fat Ban                            12829 non-null  object
 23  No-Smoking Sign Posted                   12829 non-null  object
 24  Inspection Type                          12759 non-null  object
 25  Owner                                    12819 non-null  object
 26  Category                                 12204 non-null  object
 27  Type                                     12829 non-null  object
 28  Latitude                                 12806 non-null  float64
 29  Longitude                                12806 non-null  float64
 30  Location                                 12806 non-null  object
dtypes: float64(2), int64(2), object(27)
memory usage: 3.0+ MB

In [7]:
food_inspection.shape

(12829, 31)

Which city have the most food inspections?

In [8]:
food_inspection["City"].value_counts().head(5)

SILVER SPRING    2904
GAITHERSBURG     2438
ROCKVILLE        2263
BETHESDA         1427
GERMANTOWN       1125
Name: City, dtype: int64

What are the most common categories?

In [9]:
food_inspection["Category"].value_counts().head(5)

Restaurant                   7578
Market                       3192
Carry Out                     289
Public School- Elementary     256
Caterer                       190
Name: Category, dtype: int64